## What is interpolate() function is basically used to fill NaN values in data frame or Series.
- Very powerful function
- Uses various interpolation techniques
### Syntax: DataFrame.interpolate()
###         Series.interpolate
***Parameters: method, inplace, axis, limit_direction, limit, limit_area***
### Pandas interpolate() function

In [1]:
import pandas as pd

In [48]:
df = pd.read_csv('C:\\Users\\DELL XPS\\Desktop\\AI & ML\\Data\\Fortune_1.csv')
df

,ID,Name,Date,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,Yes,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,No,Financial Services,NaN,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,No,Health,2012.0,"$12,329,371","7,591,189 Dollars",NaN,7%
3,4,Mattouch,Yes,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
4,5,Techdrill,Yes,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [49]:
df.interpolate(method = 'linear')

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_13380\899569268.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method = 'linear')

,ID,Name,Date,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,Yes,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,No,Financial Services,2010.5,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,No,Health,2012.0,"$12,329,371","7,591,189 Dollars",9005236.5,7%
3,4,Mattouch,Yes,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
4,5,Techdrill,Yes,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [50]:
df.interpolate(method = 'time')

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_13380\3099140417.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method = 'time')

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [57]:
df = pd.read_csv('C:\\Users\\DELL XPS\\Desktop\\AI & ML\\Data\\Fortune_1.csv', parse_dates = ['Date'], index_col = 'Date')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
Date,,,,,,,,
2024-12-01,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
2024-12-02,2,Stripfind,Financial Services,NaN,"$12,329,371","916,455 Dollars",11412916.0,20%
2024-12-03,3,Canecorporation,Health,2012.0,"$12,329,371","7,591,189 Dollars",NaN,7%
2024-12-04,4,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
2024-12-05,5,Techdrill,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [59]:
df.interpolate(method = 'time')

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_13380\3099140417.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method = 'time')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
Date,,,,,,,,
2024-12-01,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
2024-12-02,2,Stripfind,Financial Services,2010.5,"$12,329,371","916,455 Dollars",11412916.0,20%
2024-12-03,3,Canecorporation,Health,2012.0,"$12,329,371","7,591,189 Dollars",9005236.5,7%
2024-12-04,4,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
2024-12-05,5,Techdrill,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [60]:
df.interpolate(method = 'linear')

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_13380\899569268.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method = 'linear')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
Date,,,,,,,,
2024-12-01,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
2024-12-02,2,Stripfind,Financial Services,2010.5,"$12,329,371","916,455 Dollars",11412916.0,20%
2024-12-03,3,Canecorporation,Health,2012.0,"$12,329,371","7,591,189 Dollars",9005236.5,7%
2024-12-04,4,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
2024-12-05,5,Techdrill,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [61]:
df.interpolate(method = 'index')

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_13380\4266139948.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method = 'index')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
Date,,,,,,,,
2024-12-01,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
2024-12-02,2,Stripfind,Financial Services,2010.5,"$12,329,371","916,455 Dollars",11412916.0,20%
2024-12-03,3,Canecorporation,Health,2012.0,"$12,329,371","7,591,189 Dollars",9005236.5,7%
2024-12-04,4,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
2024-12-05,5,Techdrill,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [62]:
df.interpolate(method = 'spline', order = 2)

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_13380\3691164407.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method = 'spline', order = 2)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
Date,,,,,,,,
2024-12-01,1,Lamtone,IT Services,2009.000000,"$11,757,018","6,482,465 Dollars",5274553.0,30%
2024-12-02,2,Stripfind,Financial Services,2011.727273,"$12,329,371","916,455 Dollars",11412916.0,20%
2024-12-03,3,Canecorporation,Health,2012.000000,"$12,329,371","7,591,189 Dollars",10028297.0,7%
2024-12-04,4,Mattouch,NaN,2013.000000,"$14,026,934","7,429,377 Dollars",6597557.0,7%
2024-12-05,5,Techdrill,Health,2009.000000,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [3]:
import pandas as pd
df = pd.read_csv('C:\\Users\\DELL XPS\\Desktop\\AI & ML\\Data\\Fortune_1.csv', parse_dates = ['Date'], index_col = 'Date')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
Date,,,,,,,,
2024-12-01,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
2024-12-02,2,Stripfind,Financial Services,NaN,"$12,329,371","916,455 Dollars",11412916.0,20%
2024-12-03,3,Canecorporation,Health,2012.0,"$12,329,371","7,591,189 Dollars",NaN,7%
2024-12-04,4,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
2024-12-05,5,Techdrill,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [5]:
df.interpolate(limit = 2 , limit_direction = 'Both')

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_18288\2379711996.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(limit = 2 , limit_direction = 'Both')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
Date,,,,,,,,
2024-12-01,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
2024-12-02,2,Stripfind,Financial Services,2010.5,"$12,329,371","916,455 Dollars",11412916.0,20%
2024-12-03,3,Canecorporation,Health,2012.0,"$12,329,371","7,591,189 Dollars",9005236.5,7%
2024-12-04,4,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
2024-12-05,5,Techdrill,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [6]:
df.interpolate(limit_area = 'inside')

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_18288\129026887.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(limit_area = 'inside')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
Date,,,,,,,,
2024-12-01,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
2024-12-02,2,Stripfind,Financial Services,2010.5,"$12,329,371","916,455 Dollars",11412916.0,20%
2024-12-03,3,Canecorporation,Health,2012.0,"$12,329,371","7,591,189 Dollars",9005236.5,7%
2024-12-04,4,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
2024-12-05,5,Techdrill,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [7]:
df.interpolate(limit_area = 'outside')

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_18288\1690563633.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(limit_area = 'outside')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
Date,,,,,,,,
2024-12-01,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
2024-12-02,2,Stripfind,Financial Services,NaN,"$12,329,371","916,455 Dollars",11412916.0,20%
2024-12-03,3,Canecorporation,Health,2012.0,"$12,329,371","7,591,189 Dollars",NaN,7%
2024-12-04,4,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
2024-12-05,5,Techdrill,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%

In [8]:
df.interpolate(inplace = True)

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_18288\4002748691.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(inplace = True)

In [9]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
Date,,,,,,,,
2024-12-01,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
2024-12-02,2,Stripfind,Financial Services,2010.5,"$12,329,371","916,455 Dollars",11412916.0,20%
2024-12-03,3,Canecorporation,Health,2012.0,"$12,329,371","7,591,189 Dollars",9005236.5,7%
2024-12-04,4,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,7%
2024-12-05,5,Techdrill,Health,2009.0,"$10,573,990","7,429,377 Dollars",6597557.0,8%